extends layout

block content
  h2 ESV Bible
  form(method='POST', action='/')
    input(type='text', id='search' name='search', placeholder='Search for a bible verse...')
    button.btn.tiny Search 

block scripts    
  script(type='text/javascript').
    $('#search').focus();