extends layout

block content  

  div#searchControl.reveal-modal(data-reveal)
    form(method='POST', action='/')
      input(type='text', id='search' name='search', placeholder='Search for a bible verse...')
  
  a#previousChapter(href="#{previousChapterUri}").hide
  p!= html
  a#nextChapter(href="#{nextChapterUri}").hide

block scripts    
  script(type='text/javascript', src='/js/keypress.js')
  script(type='text/javascript', src='/js/verses.js')
