body {
  background-color: #EFEFEF;
  color: #1f0909;
  font-family: 'Lato';
}

@media screen and (min-width: 800px){
.row {
    width: 600px;
    padding-top: 50px; 
  }
}

a.copyright {
  color: #EDEDED; 
}

.chapter-num {
  display: none; 
}
