.k-list-container {
  background: #FFF;
  margin-top: 37px;
  width: 500px;
  box-shadow: 0 0 5px #999;
}
.k-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.k-item {  
  padding-left: 10px;
}
.k-state-focused {
  background: #EFEFEF;
}